{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": ["error", 4,  { "SwitchCase": 1 }],
    "no-console": 1,
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {"ts-ignore": "allow-with-description"}
    ],
    "@typescript-eslint/no-extra-non-null-assertion": 1,
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false
        }
      }
    ],
    "quotes": [2, "double", { "avoidEscape": true }]
  }
}
